[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
jinja2 = "*"
httpx = "*"
dynaconf = "*"
python-multipart = "*"
babel = "*"

[dev-packages]
ipdb = "*"
black = "*"
mypy = "*"
isort = "*"
flake8 = "*"
flake8-pyproject = "*"
flake8-commas = "*"
flake8-isort = "*"
flake8-bugbear = "*"
flake8-simplify = "*"
flake8-print = "*"
flake8-debugger = "*"
flake8-hangover = "*"
pytest = "*"
pytest-cov = "*"
