{% extends "base.html" %}

{% block body %}
<div class="container">
  <br>
  <h1 class="display-4">OMG 😱 Exception happened</h1>
  <p>
    Your active ksqlDB server is <b>{{ current_server.display_name }}</b>:
    {{ render_link(current_server.simple_url, classes='link-offset-2')|safe }}
  </p>
  <br>
  <div class="alert alert-danger">
    {% if x_response %}
    <h3>
      {{ exception }}
      <span class="badge text-bg-danger">
        HTTP {{ x_response.code }}
      </span>
    </h3>
    {% elif error_response and error_response.code %}
    <h3>
      {{ exception }}
      <span class="badge text-bg-danger">
        HTTP {{ error_response.code }}
      </span>
    </h3>
    {% else %}
    <h3>{{ exception }}</h3>
    {% endif %}

    {% if detail %}
    <pre class="wrap-pre">{{ detail }}</pre>
    {% if list_page_url %}
    <div style="margin: 10px 0px;">
      <a href="{{list_page_url}}" class="btn btn-primary">Go back to list page</a>
    </div>
    {% endif %}
    {% endif %}

    {% if booting_up %}
    Probably server <code>{{current_server.display_name}}</code> is <b>still booting</b> up or works in <b>non-interactive (headless) mode</b> and doesn't respond to REST requests.
    <a href="https://docs.confluent.io/legacy/platform/5.1.4/ksql/docs/installation/server-config/index.html#non-interactive-headless-ksql-usage" target="_blank">Learn more about it</a>
    {% endif %}

    {% if error_response and error_response.data%}
    {% for section in error_response.data %}
      {% for k, v in section.items() %}
      {{render_kv(k, v)|safe}}
      {% endfor %}
    {% endfor %}
    {% endif %}
  </div>

  {% if tb %}
  <div class="accordion" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Show full traceback
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <pre>
{% for line in tb %}{{line}}{% endfor %}
          </pre>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <br><br>
</div>
{% endblock %}
