{% extends "base.html" %}

{% block body %}
<div class="container">
  <br>
  <h1 class="display-4">{% trans %}Server not found{% endtrans %}: <b>{{code}}</b></h1>
  <br>
  <div class="alert alert-danger">
  {% trans %}Looks like requested server <b>"{{code}}"</b> not found in config file or env vars. Try going back to index page to select default server{% endtrans %}
  </div>
  <div style="margin: 10px 0px;">
    <a href="/" class="btn btn-primary">{% trans %}Go back to index page{% endtrans %}</a>
  </div>
  <br><br>
</div>
{% endblock %}
