{% extends "base.html" %}

{% block title %}
ksqlDB · {% trans %}Topics{% endtrans %} · {{ current_server.display_name }}
{% endblock %}

{% block body %}
<div class="my-container">
  <h2 class="title-h2">
    {% trans name=current_server.display_name %}Topics for {{ name }}{% endtrans %}
  </h2>
  <div class="table-container">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{% trans %}Name{% endtrans %}</th>
        {% if current_server.topic_link %}
        <th scope="col">{% trans %}UI Link{% endtrans %}</th>
        {% endif %}
        <th scope="col">{% trans %}Partitions{% endtrans %}</th>
        <th scope="col">{% trans %}Replicas{% endtrans %}</th>
        <th scope="col">{% trans %}Consumers{% endtrans %}</th>
        <th scope="col">{% trans %}Groups{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for t in topics %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>
          <a href="/topics/{{ t.name }}?{{q}}" class="link-offset-2 link-sm breaked">{{ t.name }}</a>
        </td>
        {% if current_server.topic_link %}
        <td>
          {{ render_topic_link(request, t.name, _("Open")) | safe }}
        </td>
        {% endif %}
        <td>{{ t.replicaInfo | length }}</td>
        <td>{{ t.replicaInfo[0] }}</td>
        {% if t.consumerCount %}
        <td>{{ t.consumerCount }}</td>
        {% else %}
        <td style="color: #ccc;">–</td>
        {% endif %}
        {% if t.consumerGroupCount %}
        <td>{{ t.consumerGroupCount }}</td>
        {% else %}
        <td style="color: #ccc;">–</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% include "includes/hidden_response_details.html" %}
</div>
{% endblock %}
