{% extends "base.html" %}

{% block title %}
ksqlDB UI - DEBUG
{% endblock %}

{% block body %}
<div class="my-container">
  {% if request.app.settings %}
  <br>
  <h2>{% trans %}KsqlDB UI settings{% endtrans %}</h2>
  {{ render_dict_table(request.app.settings.as_flatten_dict)|safe }}

  <br>
  <h2>{% trans %}Available environment variables{% endtrans %}</h2>
  {{ render_list_table(request.app.settings.avaiable_env_vars, col_name="env var", options={"env var": "code"})|safe }}
  {% endif %}

  {% if request.app.history %}
  <br>
  <h2>{% trans %}Request history{% endtrans %}</h2>
  {{ render_value(request.app.history)|safe }}
  {% endif %}

  <br>
</div>
{% endblock %}
