{% extends "base.html" %}

{% block title %}
ksqlDB UI - {% trans %}Topology{% endtrans %} - {{ current_server.display_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/stream.css">
<link rel="stylesheet" href="/static/css/topology.css">
{% endblock %}

{% block body %}
<div class="my-container">
  <h2 class="title-h2">
    {% trans name=current_server.display_name %}Streams and queries topology for {{ name }}{% endtrans %}
  </h2>

  <!-- Hidden data -->
  {% for stream in streams %}
  <div class="topology stream" data-name="{{stream.name}}" data-topic="{{stream.topic}}"></div>
  {% for query in stream["readQueries"] %}
  {% for sink in query["sinks"] %}
  <div class="topology query" data-name="{{query.id}}" data-state="{{query.state}}" data-source="{{stream.name}}"
    data-sink="{{sink}}"></div>
  {% endfor %}
  {% endfor %}
  {% endfor %}

  <!-- SVG -->
  <div id="svg-parent"></div>

  <!-- Original response -->
  {% include "includes/hidden_response_details.html" %}
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="/static/vendor/d3/d3.min.js"></script>
<script src="/static/vendor/d3/dagre-d3.min.js"></script>
<script src="/static/js/stream.js"></script>
<script src="/static/js/topology.js"></script>
<script>
  let globalGraph = null;

  document.addEventListener("DOMContentLoaded", function () {
    // Load global topology
    initSvgCanvas();
    globalGraph = buildTopology("{{q}}");
    renderGraph(globalGraph);

    // Init all tooltips
    $('[data-toggle="tooltip"]').tooltip()
  });

  window.addEventListener('resize', function () {
    renderGraph(globalGraph);
  });
</script>
{% endblock %}
