<div id="page-help-section" style="display: none;">
{% trans %}Stream is a partitioned, immutable, append-only collection that represents a series of historical facts. In SQL terms, it looks like table where you can run <code>SELECT</code> queries. Streams don't stream/process data itself, it only represents sources and destinations for data, because each stream is associated with single Kafka topic. Running queries, on the other hand, process/move data from stream to stream{% endtrans %}
</div>
