{% extends "base.html" %}

{% block title %}
ksqlDB · {% trans %}Status{% endtrans %} · {{ current_server.display_name }}
{% endblock %}

{% block body %}
{% if info or health %}
<div class="my-container">
  <div class="row">
    <!-- LEFT SECTION -->
    <div class="col-md-6">
      <h2 class="title-h2">
      {% trans name=current_server.display_name %}{{ name }} server info{% endtrans %}
      </h2>

      {% if info %}
        {{render_kv('URL', current_server.simple_url)|safe}}
        {{render_kv('ksqldb-ui version', request.app.app_version)|safe}}
        {% for k, v in info['KsqlServerInfo'].items() %}
        {{render_kv(k, v)|safe}}
        {% endfor %}
      {% endif %}
    </div>

    <!-- RIGHT SECTION -->
    <div class="col-md-6">
      <h2 class="title-h2">
        {% trans %}Server health{% endtrans %}
      </h2>

      {% if health %}
        {% if health.isHealthy %}
        <div class="alert alert-success">
          <h2>{% trans %}Your ksqlDB server is healthy{% endtrans %} ✅</h2>
          {% trans %}State{% endtrans %}: <span class="badge text-bg-success">{{ health.serverState }}</span>
        {% else %}
        <div class="alert alert-danger">
          <h2>{% trans %}Your ksqlDB server is not healthy{% endtrans %} 🔥</h2>
          {% trans %}State{% endtrans %}: <span class="badge text-bg-danger">{{ health.serverState }}</span>
        {% endif %}

        <br><br>
        {% trans %}Components{% endtrans %}:
        <ul>
          {% for k, v in health.details.items() %}
          <li>{{ k }} – {% if v %}✅{% else %}🔥{% endif %}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {{ render_link("/debug", _("Debug page"), target=False)|safe }}
      </div>
    </div>
  </div>

  {% if properties %}
  <br>
  <h2>{% trans %}Server properties{% endtrans %}</h2>
  <div class="row">
    {{ render_table(properties, options={"value": "break", "scope": "ignore", "level": "badge"})|safe }}
  </div>
  {% endif %}

<!-- Original data -->
{% include "includes/hidden_response_details.html" %}
</div>

{% else %}
<div class="container">
  <br>
  <h1 class="display-4">
  {% trans name=current_server.display_name %}Server <code>{{ name }}</code> is not responding{% endtrans %}
  </h1>
  <p>{% trans %}Failed to get info or health check{% endtrans %}</p>
  <br>
  <div class="alert alert-danger">
    <h3>{{exc.__class__.__name__}}</h3>
    <pre class="wrap-pre">{{exc}}</pre>
  </div>
</div>
{% endif %}

{% endblock %}
