:root {
    --purple: #6200cb;
    --dark-purple: #4c009e;
}

@font-face {
    font-family: 'Zain';
    src: url('/static/vendor/fonts/Zain-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    size-adjust: 130%;
}

@font-face {
    font-family: 'Zain';
    src: url('/static/vendor/fonts/Zain-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    size-adjust: 130%;
}

.title-h2,
#git-link,
.bubble-body,
#logo,
.b-hl,
.section,
.btn-execute,
.fun-quote .blockquote p {
    font-family: Zain, Arial, system-ui, -apple-system, Arial, sans-serif !important;
}

body {
    background-color: #f8f5fb !important;
}

#navbar {
    background-color: var(--purple);
}

.width100 {
    width: 100%;
}

.text-bg-purple {
    background-color: var(--purple);
}

.text-bg-secondary {
    background-color: #b9afc4 !important;
}

.accent-text {
    color: var(--purple); !important;
}

.bubble {
    background-color: #f5eaff;
    min-width: 150px;
    display: inline-block;
    border-radius: 16px;
    margin: 10px 10px 10px 0px;
}

.bubble-heading {
    color: #ba94e2;
    font-size: 14px;
    padding: 5px 10px;
}

.bubble-body {
    color: var(--purple);
    font-size: 25px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 10px 16px 10px;
}

.hint {
    color: #999;
    font-size: 12px;
}

#page-help-section {
    color: #999;
    margin-bottom: 20px;
    font-size: 14px;
}

.navbar-brand:hover {
    #app-version {
        color: #fff;
    }
}

.my-container {
    padding-left: 30px;
    padding-right: 30px;
}

.nav-container {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#editor,
.ace-editor-custom {
    height: 300px;
    overflow-y: auto;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    width: 100%;
}

.navbar-brand {
    position: relative;
}

#logo {
    line-height: 30px;
    vertical-align: bottom;
    font-weight: 900;
    margin-left: 8px;
    font-size: 32px;
}

#app-version {
    font-size: 12px;
    color: #ba94e2;
    position: absolute;
    bottom: -7px;
    right: 0;
    text-align: right;
    transition: all 0.3s ease;
}

.btn-execute {
    border-radius: 12px;
    width: 100%;
    font-weight: 900;
    font-size: 32px !important;
    transition: 0.2s all ease;
}

.btn-execute.btn-execute-active {
    border: 3px solid var(--purple);
    background-color: #f8f5fb !important;
    color: var(--purple);
}

.btn-execute.btn-execute-wait {
    border: 3px solid #906fb4;
    background-color: #906fb4 !important;
    color: #f8f5fb;
}

.btn-execute.btn-execute-active:hover {
    background-color: var(--purple) !important;
    color: #f8f5fb !important;
}

.ace-chrome .ace_storage,
.ace-chrome .ace_keyword,
.ace-chrome .ace_meta.ace_tag {
    color: var(--purple); !important;
}

.ace-chrome .ace_string {
    color: #1945e3 !important;
}

.title-h2 {
    font-size: 20px;
    color: #9389a2;
    font-weight: 400;
    margin: 16px 0px 10px 0px;
    position: relative;
}

.title-h2>span {
    color: var(--purple);
}

.section {
    font-size: 18px;
    line-height: 20px;
    color: #9389a2;
    font-weight: 400;
    margin: 22px 0px 4px 0px;
    padding: 0;
    position: relative;
}

.section-buttons {
    position: absolute;
    right: 0px;
    margin-top: -25px;
}

.img-btn {
    height: 24px;
    opacity: 0.2;
    position: relative;
    transition: opacity 0.3s ease;
    margin-left: 4px;
}

.key-btn {
    height: 18px;
}

.help-btn {
    margin-left: 5px;
    top: -2px;
}

.img-btn:hover {
    cursor: pointer;
    opacity: 1;
}

.img-btn:active {
    transform: scale(1.1);
}

.img-btn.active {
    opacity: 0.9;
    filter: brightness(0) saturate(100%) invert(17%) sepia(97%) saturate(7497%) hue-rotate(259deg) brightness(90%) contrast(101%);
}

.resp {
    display: block;
    margin-bottom: 16px;
}

.wrap-pre-paste:hover {
    cursor: pointer;
    border: 1px solid var(--purple);
    background-color: #fbf7ff;
    transition: all 0.2s ease;
}

.resp .key {
    font-size: 14px;
    color: #777;
}

.resp .value {
    position: relative;
}

.resp .value,
pre {
    font-family: Menlo, monospace !important;
    font-size: 16px !important;
}

.resp .value .badge {
    position: absolute;
    right: 8px;
    top: 8px;
}

.resp .value .wrap-pre {
    width: 100%;
}

.badge {
    font-weight: 400 !important;
    position: relative;
    top: -2px;
}

.badge.text-bg-secondary {
    background-color: #b9afc4 !important;
}

.http-badge {
    font-family: monospace !important;
    font-size: 14px !important;
    font-weight: 200 !important;
    margin-left: 6px !important;
    cursor: default;
}

.b-hl {
    color: var(--purple);
    font-weight: 400;
    font-size: 23px;
}

.text-hl {
    color: var(--purple);
    font-weight: bold;
}

.link-sm {
    font-size: 14px !important;
}

.breaked {
    word-break: break-word !important;
}

.nopadding {
    padding: 0px !important;
}

.nomargin {
    margin: 0px !important;
}

.btn-original-response {
    background-color: #f5eaff;
    border-radius: 12px;
    color: var(--purple);
    text-decoration: none;
    padding: 4px 10px;
    transition: 0.2s all ease;
    font-size: 14px;
}

.btn-original-response:hover {
    background-color: var(--purple);
    color: #f5eaff;
}

.wrap-pre {
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid #ddd;
    background: #fefefe;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 0;
}

.server-select {
    background-color: #4c009e !important;
    border: none !important;
}

#git-link img {
    width: 24px;
    margin-right: 5px;
}

#git-link {
    color: #333;
    font-size: 18px;
    transition: 0.2s all ease;
}

#git-link:hover {
    color: var(--purple);
}

.divider {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #777;
    margin: 15px 0px;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: #DDD;
    margin: 5px;
}

#top-warning-message {
    color: #fefefe;
    background-color: var(--dark-purple);
    text-align: center;
    padding: 5px 0px;
    position: sticky;
    top: 62px;
    z-index: 100;
}

#collapse-left-button {
    top: calc(50% + 35px);
}

#collapse-right-button {
    top: calc(50% - 35px);
}

.collable-button {
    z-index: 100;
    position: fixed;
    left: calc(50% - 6px);
    background: #ededed;
    color: #aaa;
    display: inline-block;
    font-size: 18px;
    padding: 20px 2px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.collable-button:hover {
    cursor: pointer;
    background-color: var(--purple);
    color: #ededed;
}

.left-collapse-enabled {
    left: 12px !important;
}

.right-collapse-enabled {
    left: calc(100% - 20px) !important;
}

.error-highlight {
    background-color: #dc3645;
    color: #fff;
    padding: 3px;
}

.table-container {
    border-radius: 12px;
    overflow-x: scroll;
    border: 1px solid #ddd;
    background-color: #fff;
}

.table-container>table {
    margin: 0px;
}

tbody>tr:last-child {
    border-bottom: 1px solid white;
}

.topology {
    display: none;
}

#filters {
    display: block;
}

.filter-group {
    display: inline-block;
    margin-right: 10px;
    margin-top: 2px;
}

#filter-reset,
.filter-item {
    display: inline-block;
    border-radius: 12px;
    padding: 5px 10px;
    margin-bottom: 14px;
    cursor: pointer;
    transition: 0.2s ease all;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#filter-reset {
    background-color: #f8f5fb;
    color: #aaa;
    padding-left: 0;
}

#filter-reset:hover {
    color: #000;
}

.filter-item {
    background-color: #ece8f0;
}

.filter-item:hover {
    background-color: #e1dbe6;
}

.filter-item.active {
    background-color: var(--purple);
    color: #ededed;
}

@media (max-width: 767px) {
    .collable-button {
        display: none;
    }
}

.nav-item.dropdown:hover>.dropdown-menu {
  display: block;
}

.fun-quote {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background: #fff;
    border: 1px solid #dee2e6;
    border-radius: 12px;
    padding: 20px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fun-quote .blockquote p {
    color: var(--purple);
    font-size: 22px;
}

.btn-purple {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: var(--purple) !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--dark-purple) !important;
}

.btn-outline-purple {
  --bs-btn-color: var(--purple) !important;
  --bs-btn-border-color: var(--purple) !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--purple) !important;
}
