body {
    background-color: #f8f5fb !important;
}

#navbar {
    background-color: #6200cb;
}

.navbar-brand {
    transition: all 0.3s ease;
}

.navbar-brand:hover {
    transform: scale(1.05);
}

.my-container {
    padding-left: 30px;
    padding-right: 30px;
}

.nav-container {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#editor {
    height: 100px;
    overflow-y: auto;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#logo {
    line-height: 30px;
    vertical-align: bottom;
    font-family: Zain, Menlo, Arial, sans-serif;
    font-weight: 900;
    margin-left: 8px;
    font-size: 40px;
}

.btn-execute {
    border-radius: 12px;
    width: 100%;
    font-family: Zain, Menlo, Arial, sans-serif !important;
    font-weight: 900;
    font-size: 40px !important;
    transition: 0.2s all ease;
}

.btn-execute.btn-execute-active {
    border: 3px solid #6200cb;
    background-color: #f8f5fb !important;
    color: #6200cb;
}

.btn-execute.btn-execute-wait {
    border: 3px solid #906fb4;
    background-color: #906fb4 !important;
    color: #f8f5fb;
}

.btn-execute.btn-execute-active:hover {
    background-color: #6200cb !important;
    color: #f8f5fb !important;
}

.ace-chrome .ace_storage,
.ace-chrome .ace_keyword,
.ace-chrome .ace_meta.ace_tag {
    color: #6200cb !important;
}

.ace-chrome .ace_string {
    color: #1945e3 !important;
}

.my-h2 {
    font-size: 24px;
    color: #b1b1b1;
    font-weight: 400;
    font-family: Zain, Menlo, Arial, sans-serif !important;
    margin: 10px 0px 5px 0px;
}

.request-btn {
    float: right;
    height: 18px;
    transition: 0.2s all ease;
    margin: 4px;
}

.request-btn:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.resp {
    display: block;
    margin-bottom: 10px;
}

.resp-key-buttons {
    float: right;

    a {
        margin-right: 5px;
    }
}

.resp .key {
    font-size: 14px;
    color: #777;
}

.resp .value,
pre {
    font-family: Menlo, monospace !important;
    font-size: 16px !important;
}

.badge {
    font-weight: 400 !important;
}

.badge.text-bg-secondary {
    background-color: #c9c2d1 !important;
}

.http-badge {
    font-family: monospace !important;
    font-size: 14px !important;
    font-weight: 200 !important;
    margin-left: 6px !important;
}

.b-hl {
    color: #6200cb;
    font-weight: 400;
    font-size: 23px;
    font-family: Zain, Menlo, Arial, sans-serif !important;
}

.link-sm {
    font-size: 14px !important;
}

.breaked {
    word-break: break-word !important;
}

.btn-original-response {
    border-radius: 12px;
    color: #6200cb;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 4px 10px;
    transition: 0.2s all ease;
    font-size: 12px;
}

.btn-original-response:hover {
    border: 1px solid #6200cb;
}

.wrap-pre {
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid #ddd;
    background: #fefefe;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 0;
}

.server-select {
    background-color: #4c009e !important;
    border: none !important;
}

#git-link img {
    width: 24px;
    margin-right: 5px;
}

#git-link {
    color: #333;
    font-size: 23px;
    font-family: Zain, Menlo, Arial, sans-serif !important;
    transition: 0.2s all ease;
}

#git-link:hover {
    color: #6200cb;
}

.divider {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #DDD;
    margin: 15px 0px;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: #DDD;
    margin: 5px;
}

#top-warning-message {
    color: #fefefe;
    background-color: #4c009e;
    text-align: center;
    padding: 5px 0px;
    position: sticky;
    top: 62px;
}

#collapse-left-button {
    top: calc(50% + 35px);
}

#collapse-right-button {
    top: calc(50% - 35px);
}

.collable-button {
    z-index: 100;
    position: fixed;
    left: calc(50% - 5px);
    background: #ededed;
    color: #aaa;
    display: inline-block;
    font-size: 11px;
    padding: 20px 2px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.collable-button:hover {
    cursor: pointer;
    background-color: #6200cb;
    color: #ededed;
}

.left-collapse-enabled {
    left: 12px !important;
}
.right-collapse-enabled {
    left: calc(100% - 20px) !important;
}

.error-highlight {
    background-color: #dc3645;
    color: #fff;
    padding: 3px;
}
