{% extends "base.html" %}

{% block title %}
ksqlDB UI - Streams - {{ current_server.display_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/stream.css">
{% endblock %}

{% block body %}
<div class="my-container">
  <div class="row">
    <div class="col">
      <h2 class="title-h2">
        Stream <span class="accent-text">{{ stream.sourceDescription.name }}</span> on {{ current_server.display_name }}
      </h2>

      <!-- Bubbles -->
      {{ render_bubbles(stream.sourceDescription, keys=["keyFormat", "valueFormat", "partitions",
      "replication",])|safe}}

      <!-- Topology -->
      <div class="section">Stream topology</div>
      <div class="topology current" data-name="{{stream.sourceDescription.name}}"></div>
      {% for query in stream.sourceDescription.readQueries %}
      <div class="topology read-query" data-name="{{query.id}}">
        {% for sink in query.sinks %}
        <div class="topology read-query-sink" data-name="{{sink}}"></div>
        {% endfor %}
      </div>
      {% endfor %}
      {% for query in stream.sourceDescription.writeQueries %}
      <div class="topology write-query" data-name="{{query.id}}"></div>
      {% endfor %}

      <!-- SVG -->
      <div id="svg-parent"></div>

      <!-- Topic -->
      <div class="section">Topic</div>
      <div>{{ render_topic_link(request, stream.sourceDescription.topic, classes="link-offset-2")|safe }}</div>

      <!-- SQL statement -->
      <div class="section">
        SQL statement
        <div class="resp-key-buttons">
          <span href="#" onclick="copyAceEditorToClipboard('sql-statement');">Copy to clipboard</span>
        </div>
      </div>
      <div id="sql-statement" class="ace-editor-custom">{{ stream.sourceDescription.statement }}</div>
      <textarea name="query" id="stream-state" hidden></textarea>

      <!-- Fields -->
      <div class="section">Fields</div>
      {{ render_stream_fields(stream.sourceDescription.fields)|safe }}

      <!-- Stats -->
      {% if stream.sourceDescription.clusterStatistics %}
      <div class="section">Cluster statistics</div>
      {{ render_table(stream.sourceDescription.clusterStatistics, show_line_numbers=False, options={"timestamp": "ts"})|
      safe }}
      {% endif %}

      <!-- Original data -->
      <br>
      {% include "includes/hidden_response_details.html" %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.35.3/ace.min.js"
  integrity="sha512-FqIMgoMtiqZWCK+bRO5e4Dsj1uTSbl26DlpTlhoqyunc6o41hkU0fXpXMNLKsqPBIUf4OERya5kfbqscOT26VQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"
  integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dagre-d3/0.6.4/dagre-d3.min.js"
  integrity="sha512-fdYLm4hXxJ/tPMptvdDDwuJme6jTgvoZ0g6pflEkyG9MqPejLspnCjkwX3bD69GFT2N/refZGjPr6b9RdoCyxQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/stream.js"></script>
<script>
  let globalGraph = null;

  document.addEventListener("DOMContentLoaded", function () {
    initAceEditor();
    const svgObj = initSvgCanvas();
    globalGraph = buildGraph("{{q}}");
    renderGraph(globalGraph, svgObj);
  });

  window.addEventListener('resize', function () {
    handleResize(globalGraph);
  });
</script>
{% endblock %}
