{% extends "base.html" %}

{% block title %}
ksqlDB · {% trans %}Streams{% endtrans %} · {{ current_server.display_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/stream.css">
{% endblock %}

{% block body %}
<div class="my-container">
  <div class="row">
    <div class="col">
      <h2 class="title-h2">
        {% trans stream_name=stream.sourceDescription.name, server_name=current_server.display_name %}Stream <span>{{ stream_name }}</span> on {{ server_name }}{% endtrans %}
        {% include "includes/help_messages/button.html" %}
      </h2>

      <!-- Help -->
      {% include "includes/help_messages/streams.html" %}

      <!-- Bubbles -->
      {{ render_bubbles(stream.sourceDescription, keys=["keyFormat", "valueFormat", "partitions",
      "replication",])|safe}}

      <!-- Topology -->
      <div class="section">
        {% trans %}Stream topology{% endtrans %}
        <div class="section-buttons">
          <a href="/topology/?{{current_server.query}}&highlight={{ stream.sourceDescription.name }}">
            <img src="/static/icons/openfull.svg" class="img-btn" alt="Open" data-toggle="tooltip" data-placement="top" title="{% trans %}Open full{% endtrans %}">
          </a>
        </div>
      </div>
      <div class="topology current" data-name="{{stream.sourceDescription.name}}"></div>
      {% for query in stream.sourceDescription.readQueries %}
      <div class="topology read-query" data-name="{{query.id}}">
        {% for sink in query.sinks %}
        <div class="topology read-query-sink" data-name="{{sink}}"></div>
        {% endfor %}
      </div>
      {% endfor %}
      {% for query in stream.sourceDescription.writeQueries %}
      <div class="topology write-query" data-name="{{query.id}}"></div>
      {% endfor %}

      <!-- SVG -->
      <div id="svg-parent"></div>

      <!-- Topic -->
      <div class="section">{% trans %}Kafka topic{% endtrans %}</div>
      <div>{{ render_topic_link(request, stream.sourceDescription.topic, classes="link-offset-2")|safe }}</div>

      <!-- SQL statement -->
      <div class="section">
        {% trans %}SQL statement{% endtrans %}
        <div class="section-buttons">
          <img src="/static/icons/wrap.svg" alt="Wrap" id="wrap-text" onclick="toggleWrapText('sql-statement')" class="img-btn" data-toggle="tooltip" data-placement="top" title="{% trans %}Wrap text{% endtrans %}">
          <img src="/static/icons/copy.svg" alt="Copy" onclick="copyEditor('sql-statement');" class="img-btn" data-toggle="tooltip" data-placement="top" title="{% trans %}Copy{% endtrans %}">
        </div>
      </div>
      <div id="sql-statement" class="ace-editor-custom width100">{{ stream.sourceDescription.statement }}</div>
      <textarea name="query" id="stream-state" hidden></textarea>

      <!-- Fields -->
      <div class="section">{% trans %}Fields{% endtrans %}</div>
      {{ render_stream_fields(stream.sourceDescription.fields)|safe }}

      <!-- Stats -->
      {% if stream.sourceDescription.clusterStatistics %}
      <div class="section">{% trans %}Cluster statistics{% endtrans %}</div>
      {{ render_table(stream.sourceDescription.clusterStatistics, show_line_numbers=False, options={"timestamp": "ts"})|
      safe }}
      {% endif %}

      <!-- Original data -->
      {% include "includes/hidden_response_details.html" %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="/static/vendor/ace/ace.min.js"></script>
<script src="/static/vendor/d3/d3.min.js"></script>
<script src="/static/vendor/d3/dagre-d3.min.js"></script>
<script src="/static/js/stream.js"></script>
<script>
  let globalGraph = null;

  document.addEventListener("DOMContentLoaded", function () {
    initAceEditor();
    loadWrapText('sql-statement');

    // Load stream topology
    initSvgCanvas();
    globalGraph = buildGraph("{{q}}");
    renderGraph(globalGraph, recenter = true);

    // Init all tooltips
    $('[data-toggle="tooltip"]').tooltip()
  });

  window.addEventListener('resize', function () {
    renderGraph(globalGraph);
  });
</script>
{% endblock %}
