{% extends "base.html" %}

{% block title %}
ksqlDB UI - Streams - {{current_server.title() }}
{% endblock %}

{% block body %}
<div class="my-container">

  {% if deleted_stream %}
  <!-- Alert -->
   <br>
  <div class="alert alert-success" role="alert">
    Stream <b>{{ deleted_stream }}</b> successfully deleted!
  </div>
  {% endif %}

  <h2 class="my-h2">Streams (env: {{current_server}})</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Topic</th>
        <th scope="col">Format</th>
        <th scope="col">Controls</th>
      </tr>
    </thead>
    <tbody>
      {% for stream in streams %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td><code>{{ render_stream_link(request, stream.name)|safe }}</code></td>
        <td>{{ render_topic_link(request, stream.topic)|safe }}</td>
        <td>
          <span class="badge text-bg-secondary">key: {{ stream.keyFormat }}</span>
          <br>
          <span class="badge text-bg-secondary">val: {{ stream.valueFormat }}</span>
          {% if stream.isWindowed %}
          <br>
          <span class="badge text-bg-danger">windowed</span>
          {% endif %}
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-deletable-object="{{ stream.name }}">
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "includes/hidden_response_details.html" %}
</div>

{% with objectType="stream", deleteEndpoint="/streams" %}
  {% include "includes/modal_delete.html" %}
{% endwith %}
{% endblock %}

{% block js %}
{{ super() }}
<script src="static/js/modal_delete.js"></script>
{% endblock %}
