{% extends "base.html" %}

{% block title %}
ksqlDB UI - Streams
{% endblock %}

{% block body %}
<div class="my-container">
  <h2 class="my-h2">Streams (env: {{current_server}})</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Topic</th>
        <th scope="col">Key Format</th>
        <th scope="col">Value Format</th>
        <th scope="col">Is Windowed</th>
        <th scope="col">Controls</th>
      </tr>
    </thead>
    <tbody>
      {% for stream in streams %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td><code>{{ stream.name }}</code></td>
        <td>{{ render_topic_link(request, stream.topic)|safe }}</td>
        <td>{{ stream.keyFormat }}</td>
        <td>{{ stream.valueFormat }}</td>
        <td>{{ stream.isWindowed }}</td>
        <td>
          <a href="/streams/{{ stream.name }}?{{q}}" class="btn btn-primary btn-sm">Describe</a>
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-stream-name="{{ stream.name }}">
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "includes/request_response.html" %}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete stream</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete stream <code class="stream-name-title">Modal title</code> ?
      </div>
      <div class="modal-footer">
        <form action="/streams/delete?{{q}}" method="POST">
          <input type="hidden" name="stream_name" id="modalBodyInput">
          <button type="submit" class="btn btn-danger">Yes, delete it 🔥</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, thanks</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script>

  const exampleModal = document.getElementById('exampleModal')
if (exampleModal) {
  exampleModal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget
    // Extract info from data-bs-* attributes
    const recipient = button.getAttribute('data-bs-stream-name')
    // If necessary, you could initiate an Ajax request here
    // and then do the updating in a callback.

    // Update the modal's content.
    const modalTitle = exampleModal.querySelector('.stream-name-title')
    const modalBodyInput = exampleModal.querySelector('#modalBodyInput')

    modalTitle.textContent = `${recipient}`
    modalBodyInput.value = recipient
  })
}

</script>
{% endblock %}
