{% extends "base.html" %}

{% block title %}
ksqlDB · {% trans %}Streams{% endtrans %} · {{ current_server.display_name }}
{% endblock %}

{% block body %}
<div class="my-container">

  {% if deleted_stream %}
  <!-- Alert -->
   <br>
  <div class="alert alert-success" role="alert">
  {% trans %}Stream <b>{{ deleted_stream }}</b> successfully deleted!{% endtrans %}
  </div>
  {% endif %}

  <div class="title-group">
    <h2 class="title-h2">
    {% trans name=current_server.display_name %}Streams on {{ name }}{% endtrans %}
    {% include "includes/help_messages/button.html" %}
    </h2>

    <!-- Buttons -->
    <div class="buttons-group">
      <div id="list-delete-btn" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" style="display: none;">
        <img src="/static/icons/delete.svg" alt="Delete">
        {% trans %}Delete selected streams{% endtrans %}
      </div>
      <a href="/requests?{{q}}&template=stream" class="btn btn-success">
        <img src="/static/icons/plus.svg" alt="Create">
        {% trans %}Create stream{% endtrans %}
      </a>
    </div>
  </div>

  <!-- Help -->
  {% include "includes/help_messages/streams.html" %}

  <!-- Filters -->
  {% include "includes/list_page_filters.html" %}

  <!-- Streams -->
  {% if streams %}
  <div class="table-container">
    <table class="table nomargin">
      <thead>
        <tr>
          <th scope="col">
            <input type="checkbox" class="form-check-input" id="select-all">
          </th>
          <th scope="col">#</th>
          <th scope="col">{% trans %}Name{% endtrans %}</th>
          <th scope="col">{% trans %}Topic{% endtrans %}</th>
          <th scope="col">{% trans %}Key/Value{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for stream in streams %}
        <tr class="list-view-row" data-filter-name="{{ stream.name }}">
          <th>
            <input type="checkbox" class="form-check-input" name="selected_objects" value="{{ stream.name }}">
          </th>
          <th scope="row">{{ loop.index }}</th>
          <td><code>{{ render_stream_link(request, stream.name)|safe }}</code></td>
          <td>
            <a href="/topics/{{ stream.topic }}?{{q}}" class="link-offset-2 link-sm breaked">
              {{ stream.topic }}
            </a>
          </td>
          <td>
            <span class="badge text-bg-secondary">{{ stream.keyFormat }} / {{ stream.valueFormat }}</span>
            {% if stream.isWindowed %}
            <br>
            <span class="badge text-bg-danger">windowed</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <figure class="fun-quote">
    <blockquote class="blockquote" >
      <p>“ {% trans %}All you need is <b>Stream</b>{% endtrans %} ”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      {% trans %}John Lennon (never said){% endtrans %}
    </figcaption>
  </figure>
  {% endif %}
  {% include "includes/hidden_response_details.html" %}
</div>

{% with objectType="stream", deleteEndpoint="/streams" %}
  {% include "includes/modal_delete.html" %}
{% endwith %}
{% endblock %}

{% block js %}
{{ super() }}
<script src="/static/js/modal_delete.js"></script>
<script src="/static/js/list_page.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
  // Init all tooltips
  $('[data-toggle="tooltip"]').tooltip()
});
</script>
{% endblock %}
