{% extends "base.html" %}

{% block title %}
ksqlDB UI - Queries - {{ current_server.display_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/stream.css">
{% endblock %}

{% block body %}
<div class="my-container">
  <div class="row">
    <div class="col">
      <h2 class="title-h2">Query <span>{{ query.queryDescription.id }}</span> on {{ current_server.display_name }}</h2>

      <!-- Bubbles -->
      {{ render_bubbles(query.queryDescription, keys=["state", "queryType"], lower=True)|safe}}

      <!-- Topology -->
      <div class="section">
        Query topology

        <div class="resp-key-buttons">
          <a href="/topology/?{{current_server.query}}&highlight={{ query.queryDescription.id }}">
            <img src="/static/icons/open-link.png" class="request-btn" alt="Open" data-toggle="tooltip" data-placement="top" title="Open full">
          </a>
        </div>
      </div>

      <div class="topology current" data-name="{{query.queryDescription.id}}"></div>
      {% for source in query.queryDescription.sources %}
      <div class="topology source" data-name="{{source}}"></div>
      {% endfor %}
      {% for sink in query.queryDescription.sinks %}
      <div class="topology sink" data-name="{{sink}}"></div>
      {% endfor %}

      <!-- SVG -->
      <div id="svg-parent"></div>

      <!-- SQL statement -->
      <div class="section">
        SQL statement
        <div class="resp-key-buttons">
          <img src="/static/icons/copy.png" alt="Copy" onclick="copyEditor('sql-statement');" class="request-btn"
            data-toggle="tooltip" data-placement="top" title="Copy">

          <img src="/static/icons/wrap.png" alt="Wrap" id="wrap-text" onclick="toggleWrapText('sql-statement')"
            class="request-btn" data-toggle="tooltip" data-placement="top" title="Wrap text">
        </div>
      </div>
      <div id="sql-statement" class="ace-editor-custom width100">{{ query.queryDescription.statementText }}</div>
      <textarea name="query" id="query-state" hidden></textarea>

      <!-- Fields -->
      <div class="section">Fields</div>
      {{ render_stream_fields(query.queryDescription.fields)|safe }}

      <!-- tasksMetadata -->
      {% if query.queryDescription.tasksMetadata %}
      <div class="section">Tasks</div>
      {{ render_table(query_tasks, show_line_numbers=False, options={'topic': 'kafka_topic'}, request=request)| safe }}
      {% endif %}

      <!-- Original data -->
      {% include "includes/hidden_response_details.html" %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.35.3/ace.min.js"
  integrity="sha512-FqIMgoMtiqZWCK+bRO5e4Dsj1uTSbl26DlpTlhoqyunc6o41hkU0fXpXMNLKsqPBIUf4OERya5kfbqscOT26VQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"
  integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dagre-d3/0.6.4/dagre-d3.min.js"
  integrity="sha512-fdYLm4hXxJ/tPMptvdDDwuJme6jTgvoZ0g6pflEkyG9MqPejLspnCjkwX3bD69GFT2N/refZGjPr6b9RdoCyxQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/stream.js"></script>
<script>
  let globalGraph = null;

  document.addEventListener("DOMContentLoaded", function () {
    initAceEditor();
    loadWrapText('sql-statement');

    // Load query topology
    initSvgCanvas();
    globalGraph = buildGraph("{{q}}");
    renderGraph(globalGraph);

    // Init all tooltips
    $('[data-toggle="tooltip"]').tooltip()
  });

  window.addEventListener('resize', function () {
    renderGraph(globalGraph);
  });
</script>
{% endblock %}
