{% extends "base.html" %}

{% block title %}
ksqlDB UI - Queries - {{current_server_name}}
{% endblock %}

{% block body %}
<div class="my-container">
  <div class="row">
    <div class="col-md-10">
      <h2 class="title-h2">Query {{ query.queryDescription.id }} on {{ current_server_name }}</h2>
      {{render_map(query.queryDescription, add_anchor=True)|safe}}
    </div>

    {% with response_map=query.queryDescription %}
      {% include "includes/response_keys.html" %}
    {% endwith %}
  </div>
</div>
{% endblock %}
