{% extends "base.html" %}

{% block title %}
ksqlDB UI - Queries - {{current_server_name}}
{% endblock %}

{% block body %}
<div class="my-container">

  {% if deleted_query %}
  <!-- Alert -->
   <br>
  <div class="alert alert-success" role="alert">
    Query <b>{{ deleted_query }}</b> successfully deleted!
  </div>
  {% endif %}

  <h2 class="title-h2">Queries on {{current_server_name}}</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Sinks</th>
        <th scope="col">Controls</th>
      </tr>
    </thead>
    <tbody>
      {% for query in queries %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>
          <a href="/queries/{{ query.id }}?{{q}}" class="link-offset-2 link-sm breaked">{{ query.id }}</a>
        </td>
        <td>
          {% if query.state == 'RUNNING' %}
          <span class="badge text-bg-success">
          {% else %}
          <span class="badge text-bg-danger">
          {% endif %}
            {{ query.state }}
          </span>
          <br>
          <span class="badge text-bg-secondary">{{ query.queryType }}</span>
        </td>
        <td>
          <div class="resp">
            <div class="key">Streams</div>
            <div class="value">
              {% for sink in query.sinks %}
              <div>{{ render_stream_link(request, sink)|safe }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="resp">
            <div class="key">Kafka topics</div>
            <div class="value">
              {% for sink in query.sinkKafkaTopics %}
              <div>{{ render_topic_link(request, sink)|safe }}</div>
              {% endfor %}
            </div>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-deletable-object="{{ query.id }}">
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "includes/hidden_response_details.html" %}
</div>

{% with objectType="query", deleteEndpoint="/queries" %}
  {% include "includes/modal_delete.html" %}
{% endwith %}
{% endblock %}

{% block js %}
{{ super() }}
<script src="/static/js/modal_delete.js"></script>
{% endblock %}
