{% extends "requests/index.html" %}

{% block title %}
ksqlDB · {% trans %}History{% endtrans %} · {{ current_server.display_name }}
{% endblock %}

{% block right_section_header %}
{% trans %}History{% endtrans %}
{% if history %}
<div class="section-buttons">
  <img src="/static/icons/delete.svg" class="img-btn" onclick="clearHistory();" alt="Clear" class="request-btn" data-toggle="tooltip" data-placement="top" title="{% trans %}Clear history{% endtrans %}">
</div>
{% endif %}
{% endblock %}

{% block right_section %}
{% if history %}
{% for entry in history %}
<div class="resp">
  <div class="key" style="position: relative;">
    {{ entry.date.strftime('%Y-%m-%d %H:%M:%S') }}
    (env: {{ entry.server_code }})
    <div class="section-buttons">
      <img src="/static/icons/copy.svg" alt="Copy" onclick="copyRespValue(this)" class="img-btn key-btn"
        data-toggle="tooltip" data-placement="top" title="{% trans %}Copy{% endtrans %}">
      <img src="/static/icons/paste.svg" alt="Paste" onclick="pasteRespValue(this)" class="img-btn key-btn"
        data-toggle="tooltip" data-placement="top" title="{% trans %}Paste{% endtrans %}">
    </div>
  </div>
  <div class="value">
     <pre class="wrap-pre">{{ entry.query }}</pre>
  </div>
</div>
{% endfor %}
<form action="/history?{{q}}" method="post" id="clear-history-form">
  <button type="submit" class="btn btn-danger">{% trans %}Clear history{% endtrans %}</button>
</form>
<br>
<br>
{% else %}
<figure class="fun-quote">
  <blockquote class="blockquote" >
    <p>“ {% trans %}Make your first request... and become a history!{% endtrans %} ”</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    {% trans %}Franz Kafka (never said){% endtrans %}
  </figcaption>
</figure>

<figure class="fun-quote">
  <blockquote class="blockquote" >
    <p>“
    {% trans %}Just add your cool request here and click <b class="accent-text">execute</b> button or press{% endtrans %} <span class="badge text-bg-purple">Shift + Enter</span>
    ”
    </p>

  </blockquote>
  <figcaption class="blockquote-footer">
    {% trans %}Denis Krumko (actually said){% endtrans %}
  </figcaption>
</figure>

<p class="hint">
{% trans %}<b>Note:</b> requests history is stored in-memory, each ksqldb-ui restart will wipe your history{% endtrans %}
</p>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
<script>
  function clearHistory() {
    document.getElementById('clear-history-form').submit();
  }
</script>
{% endblock %}
