{% extends "requests/index.html" %}

{% block title %}
ksqlDB UI - History - {{ current_server.display_name }}
{% endblock %}

{% block right_section_header %}
History
{% endblock %}

{% block right_section %}
{% if history %}
  {% for entry in history %}
  <div class="resp">
    <div class="key">
      {{ entry.date.strftime('%Y-%m-%d %H:%M:%S') }}
      (env: {{ entry.server_name }})
      <div class="resp-key-buttons">
        <span onclick="copyToClipboard(this)">Copy to clipboard</span>
        <span onclick="pasteToEditor(this)">Paste as request</span>
      </div>
    </div>
    <pre class="wrap-pre">{{ entry.query }}</pre>
  </div>
  {% endfor %}
  <form action="/history?{{q}}" method="post">
    <button type="submit" class="btn btn-danger">Clear history</button>
  </form>
{% else %}
  <h1 class="display-3">Make your first request to <b>become a history</b> 😎</h1>
  <p>👈 Just type something here and click execute!</p>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
<script>
  function pasteToEditor(e) {
    editor.setValue($(e).parent().parent().next('pre').text());
  }

  function copyToClipboard(e) {
    const text = $(e).parent().parent().next('pre').text();
    if (navigator.clipboard) {
      navigator.clipboard.writeText(text);
    } else {
      // fallback for older browsers
      const textarea = document.createElement('textarea');
      textarea.value = text;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
    }
  }
</script>
{% endblock %}
