{% extends "requests/index.html" %}

{% block title %}
ksqlDB UI - History - {{ current_server.display_name }}
{% endblock %}

{% block right_section_header %}
History
{% if history %}
<img src="/static/icons/trash.png" onclick="clearHistory();" alt="Clear" class="request-btn" data-toggle="tooltip"
  data-placement="top" title="Clear history">
{% endif %}
{% endblock %}

{% block right_section %}
{% if history %}
{% for entry in history %}
<div class="resp">
  <div class="key">
    {{ entry.date.strftime('%Y-%m-%d %H:%M:%S') }}
    (env: {{ entry.server_code }})
    <div class="resp-key-buttons">
      <img src="/static/icons/paste.png" alt="Paste" onclick="pasteRespValue(this)" class="request-btn"
        data-toggle="tooltip" data-placement="top" title="Paste">
      <img src="/static/icons/copy.png" alt="Copy" onclick="copyRespValue(this)" class="request-btn"
        data-toggle="tooltip" data-placement="top" title="Copy">
    </div>
  </div>
  <div class="value">
     <pre class="wrap-pre">{{ entry.query }}</pre>
  </div>
</div>
{% endfor %}
<form action="/history?{{q}}" method="post" id="clear-history-form">
  <button type="submit" class="btn btn-danger">Clear history</button>
</form>
<br>
<br>
{% else %}
<h1 class="display-3">Make your first request to <b>become a history</b> 😎</h1>
<p>Just add your cool request here and click <b class="b-hl">execute</b> button or press <span class="badge text-bg-purple">Shift + Enter</span></p>
<p class="hint"><b>Note:</b> requests history is stored in-memory, each ksqldb-ui restart will wipe your history</p>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
<script>
  function clearHistory() {
    document.getElementById('clear-history-form').submit();
  }
</script>
{% endblock %}
