{% extends "base.html" %}

{% block title %}
ksqlDB UI - Requests
{% endblock %}

{% block body %}
<div class="my-container">
  <div class="row">
    <!-- LEFT SECTION -->
    <div class="col-md-6">
      <h2 class="my-h2">
        Request (env: {{current_server}})
        <img src="/static/icons/clipboard.svg" alt="Copy" id="clipboard" class="request-btn" data-toggle="tooltip" data-placement="top" title="Copy to clipboard">
      </h2>
      <form action="/requests?{{q}}" method="post" id="editorForm" >
        <!-- EDITOR -->
        <div id="editor">{% if query %}{{ query }}{% endif %}</div>
        <textarea name="query" id="query" hidden></textarea>
        <button type="submit" id="executeButton">execute</button>
      </form>
    </div>

    <!-- RIGHT SECTION -->
    <div class="col-md-6">
      <h2 class="my-h2">
        {% block right_section_header %}
          {% if response_code %}
          Response  <span class="http-badge badge text-bg-{{ render_level(response_code, response_data) }}">HTTP {{ response_code }}</span>
          {% else %}
          Introduction
          {% endif %}
        {% endblock %}
      </h2>

      {% block right_section %}
        {% if response_code %}
        <!-- Show response -->
        {% if response_data %}
          <div>
            {% for section in response_data %}
              {% for k, v in section.items() %}
              {{render_response(k, v)|safe}}
              {% endfor %}

              {% if not loop.last %}
              <div class="divider">Next statement</div>
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
        <h3>Empty response body</h3>
        {% endif %}
        {% include "includes/hidden_response_details.html" %}
        <br>
        {% else %}
        <!-- Show welcoming page -->
        {% include "includes/welcome.html" %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.35.3/ace.min.js"
  integrity="sha512-FqIMgoMtiqZWCK+bRO5e4Dsj1uTSbl26DlpTlhoqyunc6o41hkU0fXpXMNLKsqPBIUf4OERya5kfbqscOT26VQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/chrome");
  editor.session.setMode("ace/mode/sql");

  function updateHiddenInputs() {
    document.getElementById("query").value = editor.getValue();
  }

  // added event handler
  document.getElementById("editorForm").onsubmit = function (evt) {
    updateHiddenInputs()
  }

  function adjustEditorHeight() {
    const editor = document.getElementById('editor');
    const windowHeight = window.innerHeight;
    const editorTop = editor.getBoundingClientRect().top;
    const newHeight = windowHeight - 200;
    editor.style.height = newHeight + 'px';
  }

  // Call the function on page load
  adjustEditorHeight();

  // Recalculate on window resize
  window.addEventListener('resize', adjustEditorHeight);

  $('#clipboard').on('click', function() {
    var sel = editor.selection.toJSON(); // save selection
    editor.selectAll();
    editor.focus();
    document.execCommand('copy');
    editor.selection.fromJSON(sel); // restore selection
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  // Добавление команды для перехвата Shift + Enter
  editor.commands.addCommand({
    name: 'submitForm',
    bindKey: {win: 'Shift-Enter', mac: 'Shift-Enter'},
    exec: function(editor) {
        updateHiddenInputs()
        document.getElementById('editorForm').submit();
    },
    readOnly: false // false если команда должна быть доступна в режиме редактирования
});

editor.focus();
</script>

{% endblock %}
