{% extends "base.html" %}

{% block title %}
ksqlDB UI - Requests - {{current_server_name}}
{% endblock %}

{% block body %}
<div class="my-container">
  <div id="collapse-right-button" class="collable-button"  data-toggle="tooltip" data-placement="left" title="Expand request area">›</div>
  <div id="collapse-left-button" class="collable-button" data-toggle="tooltip" data-placement="right" title="Expand response area">‹</div>
  <div class="row">
    <!-- LEFT SECTION -->
    <div class="col-md-6" id="col-left-collapsable">
      <h2 class="title-h2">
        Request to {{current_server_name}}
        <img src="/static/icons/clipboard.svg" alt="Copy" id="clipboard" class="request-btn" data-toggle="tooltip" data-placement="top" title="Copy to clipboard">
      </h2>
      <form action="/requests?{{q}}" method="post" id="editorForm" >
        <!-- EDITOR -->
        <div id="editor">{% if query %}{{ query }}{% endif %}</div>
        <textarea name="query" id="query" hidden></textarea>
        <!-- Submit button -->
        <button type="submit" class="btn-execute btn-execute-active" id="executeButton">execute</button>

        <!-- Fake submit button -->
        <button id="executeButtonWait" class="btn-execute btn-execute-wait" type="button" disabled style="display: none;">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          wait...
        </button>
      </form>
    </div>

    <!-- RIGHT SECTION -->
    <div class="col-md-6" id="col-right-collapsable">
      <h2 class="title-h2">
        {% block right_section_header %}
          {% if x_response %}
          Response
          <span class="http-badge badge text-bg-{{ render_level(x_response) }}">
            HTTP {{ x_response.code }}
          </span>

          {% if preprocess_error %}
          <span class="http-badge badge text-bg-warning" data-toggle="tooltip" data-placement="bottom" title='Looks like there is a bug in ksqldb-ui code. Please report it on GitHub.'>
            Failed to preprocess
          </span>
          {% elif preprocessed_data %}
          <span class="http-badge badge text-bg-secondary" data-toggle="tooltip" data-placement="bottom" title='Response was preprocessed to be more human friendly 😎 Scroll to the end and click "Show original response" to see unprocessed response.'>
            Preprocessed
          </span>
          {% endif %}

          {% elif warning_msg %}
          Response
          {% else %}
          Introduction
          {% endif %}
        {% endblock %}
      </h2>

      {% block right_section %}
        {% if preprocess_error %}
          <div class="alert alert-warning">
            <h4 class="alert-heading">Error during preprocessing</h4>
            <div>{{ preprocess_error }}</div>
          </div>
        {% endif%}

        {% if preprocessed_data %}
          {{render_preprocessed_data(preprocessed_data)|safe}}
        {% elif x_response %}
          <!-- Show JSON response -->
          {% if x_response.data %}
            <div>
              {% for section in x_response.data %}
                {{render_map(section)|safe}}

                {% if not loop.last %}
                <div class="divider">Next statement</div>
                {% endif %}
              {% endfor %}
            </div>
          {% elif x_response.text %}
          <!-- Show text response -->
          {% for line in x_response.text.splitlines() %}
          {{render_json(line)|safe}}
          <br>
          {% endfor %}
          {% else %}
          <h3>Empty response body</h3>
          {% endif %}
        {% elif warning_msg %}
          <div class="alert alert-warning">
            <h4 class="alert-heading">Warning</h4>
            <div>{{ warning_msg }}</div>
          </div>
        {% else %}
          <!-- Show welcoming page -->
          {% include "includes/welcome.html" %}
        {% endif %}
        {% include "includes/hidden_response_details.html" %}
        <br>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.35.3/ace.min.js"
  integrity="sha512-FqIMgoMtiqZWCK+bRO5e4Dsj1uTSbl26DlpTlhoqyunc6o41hkU0fXpXMNLKsqPBIUf4OERya5kfbqscOT26VQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var formIsSubmitting = false;
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/chrome");
  editor.session.setMode("ace/mode/sql");

  function updateHiddenInputs() {
    document.getElementById("query").value = editor.getValue();
  }

  function showLoadingAnimation() {
    // Show the wait button, hide the normal execute button
    document.getElementById('executeButton').style.display = 'none';
    document.getElementById('executeButtonWait').style.display = '';
  }

  // added event handler
  document.getElementById("editorForm").onsubmit = function (evt) {
    if (formIsSubmitting) {
      // Prevent double submission
      evt.preventDefault();
      return;
    }

    formIsSubmitting = true;
    updateHiddenInputs();
    showLoadingAnimation();
  }

  function adjustEditorHeight() {
    let padding = 200
    const editor = document.getElementById('editor');
    const topWarning = document.getElementById('top-warning-message');
    if (topWarning) {
      padding = 200 + topWarning.offsetHeight;
    }

    const windowHeight = window.innerHeight;
    const editorTop = editor.getBoundingClientRect().top;
    const newHeight = windowHeight - padding;

    editor.style.height = newHeight + 'px';
  }

  // Call the function on page load
  adjustEditorHeight();

  // Recalculate on window resize
  window.addEventListener('resize', adjustEditorHeight);

  $('#clipboard').on('click', function() {
    var sel = editor.selection.toJSON(); // save selection
    editor.selectAll();
    editor.focus();
    document.execCommand('copy');
    editor.selection.fromJSON(sel); // restore selection
  });

  $('#collapse-left-button').on('click', function() {
    $('#col-left-collapsable').toggle();
    $('#collapse-left-button').toggleClass('left-collapse-enabled');
    $('#collapse-left-button').tooltip('toggleEnabled');

    $('#collapse-right-button').toggle();
    $('#col-right-collapsable').toggleClass('col-md-6');
    $('#col-right-collapsable').toggleClass('col-md-12');
  });

  $('#collapse-right-button').on('click', function() {
    $('#col-right-collapsable').toggle();
    $('#collapse-right-button').toggleClass('right-collapse-enabled');
    $('#collapse-right-button').tooltip('toggleEnabled');

    $('#collapse-left-button').toggle();
    $('#col-left-collapsable').toggleClass('col-md-6');
    $('#col-left-collapsable').toggleClass('col-md-12');
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  // Добавление команды для перехвата Shift + Enter
  editor.commands.addCommand({
    name: 'submitForm',
    bindKey: {win: 'Shift-Enter', mac: 'Shift-Enter'},
    exec: function(editor) {
        if (formIsSubmitting) {
            // Prevent double submission
            return;
        }

        formIsSubmitting = true;
        updateHiddenInputs();
        showLoadingAnimation();
        document.getElementById('editorForm').submit();
    },
    readOnly: false // false если команда должна быть доступна в режиме редактирования
  });

editor.focus();
</script>

{% endblock %}
