{% if x_request %}
<p class="d-inline-flex gap-1">
  <a class="btn-original-response" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Show original request and full response
  </a>
</p>
<div class="collapse" id="collapseExample">
  <h2>Request</h2>
  <p><code>{{x_request.method}} {{x_request.url}}</code></p>
  {{render_json(x_request.data)|safe}}
  <br>
  <h2>Response</h2>
  <p><code>HTTP {{x_response.code}}</code></p>
  {{render_json(x_response.data)|safe}}
</div>
{% endif %}
