<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">
          {% if objectType == "stream" %}
            {% trans %}Delete stream{% endtrans %}
          {% elif objectType == "query" %}
            {% trans %}Delete query{% endtrans %}
          {% endif %}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if objectType == "stream" %}
          {% trans %}Do you really want to delete streams:{% endtrans %}
        {% elif objectType == "query" %}
          {% trans %}Do you really want to delete queries:{% endtrans %}
        {% endif %}
        <code class="deletable-object-title">UNDEFINED</code> ?
      </div>
      <div class="modal-footer">
        <form action="{{deleteEndpoint}}?{{q}}" method="POST">
          <input type="hidden" name="delete_object" id="deleteModalBody">
          <button type="submit" class="btn btn-danger">{% trans %}Yes, delete it{% endtrans %}🔥</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}No, thanks{% endtrans %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
