<nav class="navbar sticky-top navbar-expand-lg" data-bs-theme="dark" id="navbar">
  <div class="nav-container">
    <a class="navbar-brand" href="/streams{% if current_server %}?{{current_server.query}}{% endif %}">
      <img src="/static/images/logo.png" alt="ksqldb-ui" width="36" height="36">
      <span id="logo">ksqldb-ui</span>
      {% if request.app.app_version %}
      <span id="app-version">{{ request.app.app_version }}</span>
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Streams and queries -->
        <li class="nav-item dropdown" data-bs-theme="light">
          <a class="nav-link dropdown-toggle {% if '/streams' in request.path or '/queries' in request.path %}active{% endif %}" href="/streams?{{q}}">
            {% trans %}Streams{% endtrans %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/streams?{{q}}">
              {% trans %}Streams{% endtrans %}
            </a>
            <a class="dropdown-item" href="/queries?{{q}}">
              {% trans %}Queries{% endtrans %}
            </a>
            <a class="dropdown-item" href="/topics?{{q}}">
              {% trans %}Topics{% endtrans %}
            </a>
          </div>
        </li>

        <!-- Requests -->
        <li class="nav-item dropdown" data-bs-theme="light">
          <a class="nav-link dropdown-toggle {% if '/requests' in request.path or '/history' in request.path %}active{% endif %}" href="/requests?{{q}}">
            {% trans %}Requests{% endtrans %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/requests?{{q}}">{% trans %}Requests{% endtrans %}</a>
            {% if request.app.settings.history.enabled %}
            <a class="dropdown-item" href="/history?{{q}}">{% trans %}History{% endtrans %}</a>
            {% endif %}
          </div>
        </li>

        <!-- Topology -->
        <li class="nav-item">
          <a class="nav-link {% if '/topology' in request.path %}active{% endif %}" href="/topology?{{q}}">
            {% trans %}Topology{% endtrans %}
          </a>
        </li>

        <!-- Status -->
        <li class="nav-item">
          <a class="nav-link {% if '/status' in request.path %}active{% endif %}" href="/status?{{q}}">
            {% trans %}Status{% endtrans %}
          </a>
        </li>
      </ul>
      {% if current_server %}
      <form class="d-flex">
        <select class="form-select server-select" aria-label="Default select example" id="serverSelector"
          onchange="this.options[this.selectedIndex].value && (window.location = '?{{server_query_param}}=' + this.options[this.selectedIndex].value);">
          {% for server in request.app.settings.sorted_servers %}
          <option value="{{server.code}}" {% if current_server.code==server.code %}selected{% endif %}>
            {{server.display_name}}
          </option>
          {% endfor %}
        </select>
      </form>
      {% endif %}
    </div>
  </div>
</nav>
