<h1 class="display-3">
{% trans %}Welcome to ksqldb-ui{% endtrans %}
</h1>
<p>
  {% trans %}The interface is pretty simple:{% endtrans %}
  <ul>
    <li>
      {% trans %}Type your query in <b class="b-hl">Request</b> section.{% endtrans %}
      {% trans %}You can find query docs
      <a href="https://docs.confluent.io/platform/current/ksqldb/developer-guide/ksqldb-reference/overview.html#ksqldb-api-index" class="link-offset-1" target="_blank">here{% endtrans %}</a>
    </li>
    <li>
    {% trans %}Click <b class="b-hl">execute</b> button or press <span class="badge text-bg-purple">Shift + Enter</span> to perform request{% endtrans %}</li>
    <li>{% trans %}More info on project homepage:{% endtrans %} <a id="git-link" href="https://github.com/deniskrumko/ksqldb-ui" target="_blank"><img src="/static/icons/github.svg" alt="github">deniskrumko/ksqldb-ui</a></li>
  </ul>
</p>
