<h1 class="display-3">Welcome to ksqldb-ui</h1>
<p>
  The interface is pretty simple:
  <ul>
    <li>
      Type your query in <b class="b-hl">Request</b> section.
      You can find query docs
      <a href="https://docs.confluent.io/platform/current/ksqldb/developer-guide/ksqldb-reference/overview.html#ksqldb-api-index" class="link-offset-1" target="_blank">here</a>
    </li>
    <li>Click <b class="b-hl">execute</b> button or press <code>Shift + Enter</code> to perform request</li>
    <li>More info on project homepage: <a id="git-link" href="https://github.com/deniskrumko/ksqldb-ui" target="_blank"><img src="/static/icons/github.svg" alt="github">deniskrumko/ksqldb-ui</a></li>
  </ul>
</p>
